.active-point {
  position: absolute;
  margin-top: 40px;
  margin-bottom: -40px;
  width: 350px;

  @media all and (max-device-width: 500px) and (orientation: portrait) {
    margin-top: 80px;
  }
}

.active-point__helper-text {
  margin-top: 10px;
  font-size: 0.65rem;
  opacity: 0.5;
}

.active-point__text {
  font-size: 0.9rem;
}

.active-point__skills {
  margin-top: 10px;
  font-size: 0.7rem;
  opacity: 0.7;
}
