$text-color: #262828;
$highlight-color: #FF3D73;
$bg-grey: lightgray;

// Set fonts and positioning 
// for farthest background
html, body {
  // Use system fonts because
  // they are quite nice
  font-family: 
    // For Mac San Francisco
    -apple-system, BlinkMacSystemFont, 
    // Windows
    "Segoe UI", 
    // Android / Chrome OS
    "Roboto", 
    // KDE -> Ubuntu -> GNOME
    "Oxygen", "Ubuntu", "Cantarell", 
    // Firefox OS
    "Fira Sans", 
    // Older Android
    "Droid Sans", 
    // Older Mac
    "Helvetica Neue", 
    // Old everything else
    sans-serif;

  color: $text-color;
  margin: 0;
  overflow: hidden;
  background-color: $bg-grey;

  // I don't like the text-selection
  // cursor so just default (may change later)
  cursor: default;
}

// Default text-sizing
// Re-size appropriately
p {
  font-size: calc(5px + 2vh);
}

// I don't like the default link color
// Change it to  align with highlight color
a {
  color: $text-color;
  &:hover, &:active, &:focus {
    color: $highlight-color;
  }
}

// Highlight text colours
::selection {
  color: white;
  background: $highlight-color;
}

// Wrapper for the block that moves
#wrapper {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

// Padding the edges of wrapper
#padding {
  padding: 2%;
}

// Container for header
#header {
  border-bottom: 1px solid $text-color;
}

// The header at the top
#heading {
  display: inline;
  margin: 0 auto;
  font-size: calc(12px + 2vh);
}

// Nav buttons
.breadcrumb {
  float: right;
  // Keep it properly in-line above 
  // horizontal line
  margin: 6px 0 0 15px;

  font-size: calc(6px + 2vh);
  text-decoration: none;
}

// Left Half
.pull-left {
  // Take up left half
  float: left;
  width: 50%;
}

// Right half
.pull-right {
  float: right;
  width: 50%;
}

// Styling for active breadcrumb
.active {
  text-decoration: none;
  color: $highlight-color;
}



/********************/
/* Timeline styling */
/********************/
@import './timeline.scss';