$text-grey: #8C8C8C;

// Parent container
.timeline-container {
    position: relative;
    padding: 0 0 1vh 0;
    width: 95%;
    font-size: calc(7.5px + 0.5vw);
    font-weight: 300;
}

// Straight line that intersects
// All of our events
.timeline-container-before {
    content: '';
    position: absolute;
    top: 0;
    left: 4.25vh;
    height: 100%;
    width: 2px;
    background: $text-grey;

    // Responsive websites are hard
    @media (min-height: 472px) {
     left: 3.9vh;   
    }
}

// The languages that I learnt / used
// In each experience
.action {
    float: right;
    text-align: right;
    margin-top: -20px;
}

// Styling for company name
.company {
    font-weight: 500;
}

// Each important aspect / experience
// Should rename this
.event {
    position: relative;
    margin: 0 0 7vh;
    padding-left: 10vh;
}

// Each important experience's circle
// In which I put a font-awesome icon
.event-type {
    position: absolute;
    border: 2px solid;
    border-radius: 50%;
    top: 0;
    left: 1vh;
    height: calc(10px + 4vh);
    width: calc(10px + 4vh);
    background: white;
    text-align: center;
    transition: 150ms ease-in-out;
    
    &:hover {
        transform: scale(1.1);
    }

    // Center the font awesome icon
    .fa {
        transform: translateY(60%);
        font-size: calc(10px + 1.5vh);
    }
}

// Line indicating a time (for school only)
.event-type-school {
    position: absolute;
    margin-left: 3.5vh;
    top: 1.25vh;
    left: 0;
    width: 2vh;
    height: 2px;
    background: $text-grey;

    // Responsive websites are hard
    @media (min-height: 472px) {
     margin-left: 3.15vh;   
    }
}

// Current experience circle styling
.now {
    border: 2px solid $highlight-color;
}

// Current experience text styling
.now-text {
    color: $highlight-color;
}

// School text styling
.school {
    color: $text-grey;
}
