//colors
$white: #ffffff;
$black: #000000;
$grey: #d9d9d9;
$dark_grey: #333333;

//fonts
$font_Lato: Lato;
$font_Sans-serif: sans-serif;
$font_Serif: serif;

//urls
$url_MojioLogo: url(../logos/logo-mojio.png);
$url_ABBLogo: url(../logos/ABB-logo.png);
$url_GRLogo: url(../logos/global-relay-squarelogo.png);

