//colors
$white: #ffffff;
$black: #000000;
$grey: #e6e6e6;
$dark_grey: #333333;

//fonts
$font_Lato: Lato;
$font_Sans-serif: sans-serif;
$font_Serif: serif;

//urls
$url_MojioLogo: url(../logos/logo-mojio.png);
$url_ABBLogo: url(../logos/abb-logo.jpg);
$url_GRLogo: url(../logos/global-relay-squarelogo.png);

