@import "Global";

#Header-Nav {
  opacity: 0.9;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0));
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0.25px 0.25px 0.15px $black;
}

.navbar-inverse .navbar-nav > li > a {
  color: $grey;
  &:link {
    color: $grey;
  }
  &:visited {
    color: $grey;
  }
  &:hover {
    color: $white;
  }
  &:active {
    color: $white;
  }
}