@import "../global";

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: $font_Lato, $font_Sans-serif;
}
.navbar {
  border: 0;
}
.jumbotron {
  display: flex;
  align-items: center;
  color: $white;
  min-height: 540px;
  height: 100vh;
  h2 {
    font-family: $font_Lato, $font_Serif;
    text-align: center;
    font-size: 55px;
    font-weight: 100;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 1px 1px 1px $black;
    margin: 0;
    color: $white;
  }
}


#About {
  font-size: 50px;
  padding-bottom: 30px;
}
#Experiences {
  font-size: 50px;
  padding-top: 70px;
  padding-bottom: 30px;
}
#Projects {
  font-size: 50px;
  padding-bottom: 30px;
}
#Language-Overview {
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: $black;
  padding-left: 25px;
}
#Company {
  display: inline;
}
#Company-Position {
  padding-left: 3.5px;
  display: inline;
}
.HeaderTransition {
  opacity: 0.01;
  @include transition(all, 700ms, ease-out, 0);
  @include translate3d(-200px, 0, 0);
  @include backface-visibility(hidden);
}
.HeaderTransition--inViewport {
  opacity: 1;
  @include translate3d(0px, 0, 0);
}