@import "../global";

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: $font_Lato, $font_Sans-serif;
  font-weight: 100;
}
.navbar {
  border: 0;
}
.jumbotron {
  display: flex;
  align-items: center;
  color: $white;
  min-height: 540px;
  height: 100vh;
  h2 {
    font-family: $font_Lato, $font_Serif;
    text-align: center;
    font-size: 55px;
    font-weight: 100;
    text-shadow: 1px 1px 1px $black;
    margin: 0;
    color: $white;
  }
}

#About {
  font-size: 45px;
  padding-bottom: 20px;
}
#Experiences {
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#Projects {
  font-size: 45px;
  padding-bottom: 20px;
}

#Resume {
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 15px;
}

#Resume-Text {
  padding-bottom: 30px;
}

#Language-Overview {
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: $black;
  padding-left: 25px;
}
#Company {
  display: inline;
}
#Company-Position {
  padding-left: 3.5px;
  display: inline;
}
.HeaderTransition {
  opacity: 0.01;
  transition: all 700ms ease-out;
  transform: translate3d(-200px, 0px, 0px);
  backface-visibility: hidden;
}
.HeaderTransition--inViewport {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}