@import "../global";

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: $font_Lato, $font_Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}
//Overview of programming languages
#Language-Overview {
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: $black;
  padding-left: 25px;
}

//About header
#About {
  font-size: xx-large;
  font-weight: 400;
}

#About-Me-Text {
  font-size: larger;
}

//Experiences header
#Experiences {
  font-size: xx-large;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}

//Sub headers under work
#Company {
  display: inline;
}
#Company-Position {
  padding-left: 3.5px;
  display: inline;
}

//Personal projects header
#Projects {
  font-size: xx-large;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}

//Contact me header
#Resume {
  margin-top: 10px;
  font-size: xx-large;
  font-weight: 400;
}

//Contact me text
#Resume-Text {
  padding-bottom: 30px;
  font-size: larger;
}

//Transitions for the main headers
.HeaderTransition {
  opacity: 0.01;
  transition: all 700ms ease-out;
  transform: translate3d(-200px, 0px, 0px);
  backface-visibility: hidden;
}
.HeaderTransition--inViewport {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}