@import "../global";

#Footer {
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  color: $dark_grey;
}

#Creator {
  font-size: small;
  cursor: pointer;

  &:hover {
    li > a {
      color: $white;
    }
  }
}

#Social-Links {
  padding: 0 0 3px;
  white-space: nowrap;

  li {
    display: inline-block;
  }

  li > a {
    &:link {
      color: $grey;
    }
    &:visited {
      color: $grey;
    }
    &:hover {
      color: $white;
    }
    &:active {
      color: $white;
    }
  }
}