//The Jumbotron
.jumbotron {
  display: flex;
  align-items: center;
  color: $white;
  min-height: 540px;
  height: 100vh;

  &:hover {
    #Imgsrc {
      opacity: 0.8;
    }
  }
}

//Greeting message on jumbotron
#Jumbo-Text {
  font-family: $font_Lato, $font_Serif;
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
  text-shadow: 1px 1px 1px $black;
  opacity: 0.8;
  margin: 0;
  color: $white;
}

//Image source want to show this so I don't get sued
#Imgsrc {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;

  opacity: 0;
  transition: opacity 500ms;
  color: $grey;
  font-size: x-small;

}