//The Jumbotron
.jumbotron {
  display: flex;
  align-items: center;
  color: $white;
  min-height: 540px;
  height: 100vh;
  h2 {
    font-family: $font_Lato, $font_Serif;
    text-align: center;
    font-size: 55px;
    font-weight: 100;
    text-shadow: 1px 1px 1px $black;
    margin: 0;
    color: $white;
  }

  &:hover {
    #Imgsrc {
      opacity: 0.8;
    }
  }
}

//Image source want to show this so I don't get sued
#Imgsrc {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;

  opacity: 0;
  transition: opacity 500ms;
  color: $grey;
  font-size: x-small;

}