@import "../global";


#Website {
  padding-bottom: 40px;
  color: $white;
}
#Android-Game {
  padding-bottom: 40px;
  color: $white;
}
#Votefinder {
  padding-bottom: 40px;
  color: $white;
}
#Web-Game {
  padding-bottom: 40px;
  color: $white;
}
#Website-Row {
  background-color: $dark_grey;
}
#Android-Game-Row {
  background-color: $dark_grey;
}
#Votefinder-Row {
  background-color: $dark_grey;
}
#Web-Game-Row {
  background-color: $dark_grey;
}