@import "../global";

#divForPadding {
  //Need this so we get equal padding on all sides of the images
  padding-bottom: 30px;
  cursor: pointer;
}

//For images on the left column
#ThumbLeft {
  display: inline-block;
  //Need to make sure the aspect ratio is correct
  height: 100%;
  width: 100%;

  &:hover {
    opacity: .5;
  }
}

//For images on right column
#ThumbRight {
  display: inline-block;
  //Need to make sure the aspect ratio is correct
  height:100%;
  width: 100%;

  &:hover {
    opacity: .5;
  }
}

//The styling for overlaying the images with text
#Img-Overlay {
  position: relative;
  overflow: hidden;

  &:hover {
    #ProjectText {
      opacity: 0.95;
    }

    #ThumbLeft, #ThumbRight {
      filter: blur(5px) brightness(0.5);
    }
  }
}

//Sort of container for the div that contains text
#ProjectText {
  //Set the background color to 80% opacity so we can see a transparent black
  background: rgba(0,0,0,0.8);
  position: absolute;
  padding: 10px 25px 10px 25px;

  //Cover the whole div
  height: 100%;
  width: 100%;
  overflow-y: auto;

  //Make sure it starts at edge
  top: 0;
  left: 0;

  //Don't want to show in the beginning
  opacity: 0;

  //Transition after on hover of image overlay
  transition: opacity 500ms;
  color: $white;

  //Align text centre
  text-align: center;
}

//Div that contains text
#ProjectTextContainer {
  position:relative;
  top:50%;
  transform: translateY(-50%);

  #Project-Title {
    font-weight: 400;
    position: relative;
  }

  p {
    font-weight: 300;
    color: $grey;

    a {
      cursor: pointer;

      &:link {
        color: $grey;
      }
      &:visited {
        color: $grey;
      }
      &:hover {
        color: $grey;
      }
      &:active {
        color: $grey;
      }
    }
  }
}
