body {
  font-family: 'Lato';
}

body h1 {
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
}
.container {
    padding: 20px 0;
}

.container .row {
    display: flex;
    align-items: center;
}

.col-sm-8 p {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("UnderConstruction.jpg");
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  opacity: 0.95;
}

.jumbotron h2 {
  font-family: 'Lato', serif;
  text-align: center;
  font-size: 55px;
  font-weight: 100;
  margin: 0;
  color: #fff;
}

footer {
    padding-top: 0;
    font-size: 12px;
}