/** Global settings for items **/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    border: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    /**background-image: url("morning1.jpg");**/
    /**background-image: url("morning1-supermin.jpg");**/
    background-image: url("morning1-min.jpg");
    background-size: cover;
    color: #ffffff;
    min-height: 540px;
    height: 100vh;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    opacity: 0.95;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron h2 {
    font-family: 'Lato', serif;
    text-align: center;
    font-size: 55px;
    font-weight: 100;
    margin: 0;
    color: #fff;
}

/** HeaderNavigation.js styling **/
#Header-Nav {
    opacity: 0.9;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0));
    text-shadow: 0.25px 0.25px 0.15px #000000;
}

/** Styling for header bar text **/
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:link,
.navbar-inverse .navbar-nav > li > a:visited {
    color: #d9d9d9;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active {
    color: #ffffff;
}

/** Body.js styling **/
#About {
    font-size: 50px;
    padding-bottom: 30px;
}

#Experiences {
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 30px;
}

#Projects {
    font-size: 50px;
    padding-bottom: 30px;
}

#Language-Overview {
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: black;
    padding-left: 25px;
}

#Company {
    display: inline;
}

#Company-Position {
    padding-left: 3.5px;
    display: inline;
}

.HeaderTransition {
    opacity: 0.01;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(-200px, 0px, 0px);
    -webkit-transform: translate3d(-200px, 0px, 0px);
    transform: translate3d(-200px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.HeaderTransition--inViewport {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

/** WorkExperience.js styling **/
#Experiences-Row {
    padding-bottom: 40px;
}

#Mojio-Experience {
    position: relative;
    z-index: 1;
}

#Mojio-Experience:before {
    content: " ";
    position: absolute;
    width: 50%;
    height: 100px;
    opacity: 0.35;
    z-index: -1;
    background: url('./Logos/logo-mojio.png') no-repeat center;
}

#ABB-Experience {
    position: relative;
    z-index: 1;
}

#ABB-Experience:before {
    content: " ";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100px;
    opacity: 0.2;
    z-index: -1;
    background: url('./Logos/ABB-logo.png') no-repeat center;
}

#GR-Experience {
    position: relative;
    z-index: 1;
}

#GR-Experience:before {
    content: " ";
    position: absolute;
    width: 50%;
    height: 100px;
    opacity: 0.35;
    z-index: -1;
    background: url('./Logos/global-relay-squarelogo.png') no-repeat center;
}

#Language-Row {
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#Framework-Row {
    margin-left: 5px;
}

#Language-Button {
    cursor: default;
    opacity: 1;
    margin-right: 10px;
    border-color: black;
    color: black;
}


#Framework-Button {
    cursor: default;
    opacity: 1;
    margin-right: 10px;
}

/**Style the ones that sre aligned-right but on the left side **/
#Language-Row-Left {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#Framework-Row-Left {
    margin-right: 5px;
}

#Language-Button-Left {
    cursor: default;
    opacity: 1;
    margin-left: 10px;
    border-color: black;
    color: black;
    float: right;
}

#Framework-Button-Left {
    cursor: default;
    opacity: 1;
    margin-left: 10px;
    float: right;
}

/** Footer.js styling **/
#Footer {
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    color: #333333;
}

#Social-Links {
    padding: 0 0 3px;
}