@import '../../../css/App';

.timeline-point {
  position: relative;
  padding: 0 8px;
  cursor: pointer;
}

.timeline-point__content {
  position: absolute;
  margin-top: 5px;

  @media all and (max-device-width: 500px) and (orientation: portrait) {
    transform: rotate(90deg);
    margin-top: 80px;
    margin-left: -86px;
  }
}

.timeline-point__dot {
  position: relative;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  border: 2px solid white;
}

.timeline-point__dot--active:before {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  content: ' ';
  background-color: white;
}

.timeline-point__dot--current {
  border-color: $pink;
}

.timeline-point__dot--current.timeline-point__dot--active:before {
  background-color: $pink;
}

.timeline-point__dot--current:after {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  content: ' ';
  box-shadow: inset 0 0 0 4px $pink;
  transition: transform 0.2s, opacity 0.2s;
  animation: pulsing 2s infinite;
}

@keyframes pulsing {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.timeline-point__date {
  font-size: 0.8rem;
  white-space: nowrap;
}

.timeline-point__title {
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
}
