$pink: #f92672;

body {
  margin: 0;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto',
    'Oxygen', sans-serif;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #161616;
  color: white;

  // So the Tilt doesn't overflow off screen and show scrollbars
  overflow: hidden;
}

.app__header {
  margin-top: auto;
}

.app__tilt {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}

.app__footer {
  display: flex;
  margin-top: auto;
  align-items: flex-end;
}

.app__footer-links {
  margin-left: auto;
  text-align: right;
}

.app__link {
  display: block;
  color: white;
  text-decoration: none;

  &:visited {
    color: unset;
  }

  &:hover {
    color: red;
  }
}

.app__active-point {
  position: absolute;
  margin-top: 40px;
  margin-bottom: -40px;
  width: 350px;
}

.app__active-point-text {
  font-size: 0.9rem;
}

.app__active-point-skills {
  margin-top: 10px;
  font-size: 0.7rem;
  opacity: 0.7;
}
