:root {
  --pink: #f92672;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto',
    'Oxygen', sans-serif;

  @media all and (max-device-width: 500px) and (orientation: portrait) {
    font-size: 30px;
  }
}

body {
  margin: 0;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #161616;
  color: white;

  /* So the Tilt doesn't overflow off screen and show scrollbars */
  overflow: hidden;
}

.app__header {
  margin-top: auto;
}

.app__tilt {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}

.app__footer {
  display: flex;
  margin-top: auto;
  align-items: flex-end;
}

.app__footer-links {
  margin-left: auto;
  text-align: right;
}

.app__link {
  display: block;
  color: white;
  text-decoration: none;
}

.app_link:visited {
  color: unset;
}

.app_link:hover {
  color: var(--pink);
}
